@font-face{
    font-family: 'RobotoMono';
    src: url('./font/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono';
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(78, 205, 196), rgb(85, 98, 112));
}
